body {
  margin: 0px;
  padding: 0px;
  font-family:"Segoe UI","Open Sans", "Helvetica Neue", sans-serif;
}

#title {
  color: #fff;
  font-weight: bold;
  
}

#menu-h {
  align-items: center;
  display: flex;
  background-image: url(../img/Hera.jpg);
  justify-content: space-evenly;
}

#menu-h {
  list-style: none;
  padding: 0;
}

#menu-h a {
  color: #fff;
  padding: 25px;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  transition: background 0.4s;
  padding: 10px;
}

#menu-h a:hover {
  border-radius: 20px;
  background-color: black;
}

.container-sobre {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(26, 26, 26, 0.3)),
    url(../img/Fachada.jpeg) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  height: 700px;
}

.container-sobre h3 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.3em;
}

.container-sobre p {
  font-size: 20px;
  font-weight: 500;
  text-shadow: rgba(0, 0, 0, 0.567) 0.1em 0.1em 0.2em;
}

button {
  margin-top: 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
  transition: background 0.4s;
}

button:hover {
  background-color: #368c39;
}

.title-servico {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  justify-content: center;
}

.container-sobre-baixo {
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  height: 500px;
  background-image: url(../img/zamiocuca.png);
}

.container-sobre-baixo h3 {
  font-size: 40px;
}

.container-sobre-baixo p {
  font-size: 20px;
  font-weight: 500;
  width: 50%;
}

.container-servico {
  padding: 40px, 0px;
  justify-content: space-between;
  display: flex;
}

.servico {
  width: 30%;
  padding: 60px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}

.servico img {
  width: 250px;
  height: 450px;
}

.title-servico h2 {
  font-size: 40px;
  font-weight: bold;
}

.area-imgs {
  display: flex;
  justify-content: space-evenly;
}

.area-imgs img {
  width: 30%;
  
}

.container-final {
  background-image: url(../img/Grama.jpg);
  height: 80px;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.area-cont {
  color: white;
  padding: 80px 20px;
  margin: 25px;
  border-radius: 30px;
  text-align: center;
}

.area-cont a {
  color: rgb(54, 54, 54);
  text-decoration: none;
}

.area-cont a:hover {
  color: green;
  cursor: pointer;
}
.area-mapa{
  padding: 60px;
}
